<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SIGN IN</title>
  </head>
  <body>
    <h1>Sign - in here</h1>

    <form method="post">
      <label>Tên đầy đủ:</label><br>
      <input type = "text" name = "name" placeholder = "Ngô Quang Trường" >
      <br>

      <label>Email:</label><br>
      <input type = "text" name = "email" placeholder = "nqt@gmail.com">
      <br>

      <label>Username:</label><br>
      <input type = "text" name = "username" placeholder = "...">
      <br>

      <label>Password:</label><br>
      <input type = "text" name = "password" placeholder = "...">
      <br>

      <br><input type = "submit" name = "" value = "Submit">
    </form>
  </body>
</html>
